.venv/
testrun/
output/
venv/
temp/
devdata/
build/
Digital_Worker_Library.egg-info/
.pytest_cache/
__pycache__/
.rpa/
.idea/
.ipynb_checkpoints/
.virtual_documents/
*/.ipynb_checkpoints/*
.vscode
.DS_Store
*.pyc
*.zip